<div class="section section_about" id="section_about">
    <div class="row align-items-center">
        <div class="col-md-5 offset-md-1">
            <div class="left-column">
                <img src="img/about_finish.jpg" alt="Забег">
            </div>
        </div>
        <div class="col-md-5">
            <div class="right-column">
                <div class="section__title">
                    <%=aboutRun%>
                </div>
                <div class="section__subtitle">
                    <%=aboutRunSub%>
                </div>
                <div class="section__text">
                    <p>
                        <%=aboutRunText1%>
                    </p>
                    <p>
                        <%=aboutRunText2%>
                    </p>
                </div>
                <div class="socialCounters">
                    <img src="img/social_counters.png">
                </div>
            </div>
        </div>
    </div>
</div>