<div class="section section_ask" id="section_ask">    
    <div class="row">
        <div class="col-md-4 offset-md-1 ">
            <div class="row justify-content-center text_white text_shadowed">
                <div class="ask_first">
                    <%=runText%>
                </div>
                <div class="ask_second">
                    <%=forKidsHealth%>
                </div>
                
            </div>
            <div class="row button_row">
                <button class="text_white button button_rounded button_bordered box_shadowed button_ask" href="#section_request">
                    <%=run%>
                </button>                
            </div>
        </div>
    </div>
    <div class="place_row">
        <img src="img/run_boots.png" alt="кроссовки" id="boots">
        <div class="row align-items-center text_white">
            <div class="col-md-4 offset-md-1 ">
                <%=place%>
            </div>
        </div>        
    </div>    
</div>