<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="stylesheet" href="css/style.bundle.css">

    <title><%=title%></title>
  </head>
  <body>
    <header>
      <div class="row">
        <img src="img/logo.png" id="logo">
        <ul class="float-md-right">
          <li><a href="#section_about">
              <%=aboutRun%></a></li>
          <li><a href="#section_lastYear">
              <%=howItWas%></a></li>
          <li><a href="#section_schedule">
              <%=program%></a></li>
          <li><a href="#section_map">
              <%=route%></a></li>
          <li><a href="#section_request">
              <%=participate%></a></li>
        </ul>
      </div>
    </header>