<div class="section section_helpKids">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 text-center">
            <div class="section__title">
                <%=helpKids%>
            </div>
            <div class="section__subtitle">
                <%=helpKidsSub%>
            </div>
            <div class="section__text">
                <%=helpKidsText%>
            </div>
            <div class="list text-left">
                <div class="row list__item">
                    <div class="col-md-4">
                            <div class="circle align-items-center justify-content-center float-right">
                                    <div class="circle__text text_white">
                                        <%=firstSum%>
                                    </div>
                                </div>
                    </div>
                    <div class="col-md-6 list__text align-items-center">
                        <%=helpKidsFirst%>
                    </div>
                </div>
                <div class="row list__item">
                    <div class="col-md-4">
                        <div class="circle align-items-center justify-content-center float-right">
                            <div class="circle__text text_white">
                                <img src="img/community.png" alt="3 спортсмена">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 list__text align-items-center">
                        <%=helpKidsSecond%>
                    </div>
                </div>
                <div class="row list__item third">
                    <div class="col-md-4">
                        <div class="circle align-items-center justify-content-center float-right">
                            <div class="circle__text text_white">
                                <%=secondSum%>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 list__text align-items-center">
                        <%=helpKidsThird%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>