<div class="section section_lastYear" id="section_lastYear">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-9 text-center">
            <div class="section__title">
                <%=lastYear%>
            </div>
            <div class="section__subtitle">
                <%=lastYearSub%>
            </div>
            <div class="section__text">
                <%=lastYearText%>
            </div>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/bMjA7Mb1-Ek?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>