<div class="section section_map" id="section_map">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-9">
            <div class="section__title text_white text-center">
                <%=mapTitle%>
            </div>
            <div class="row justify-content-center">
                <div class="map__holder justify-content-center">
                    <img src="img/map.png" alt="карта">
                </div>   
            </div>         
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="description text_white">
                        <%=mapDescription%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>