<div class="section section_orgs">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-10 text-center">
            <div class="row justify-content-around">
                <div class="col-md-5">
                    <div class="section__subtitle">
                        <%=organizers%>
                    </div>
                    <div class="row orgs_img_block align-items-center justify-content-around">
                        <div class="img_holder">
                            <img src="img/logo_SK_min.png" alt="Солнечный круг">
                        </div>
                        <div class="seporator"></div>
                        <div class="img_holder">
                            <img src="img/logo_bereginya_min.png" alt="Берегиня">
                        </div>
                        <div class="seporator"></div>
                        <div class="img_holder">
                            <img src="img/Logo_ASKiZ.png" alt="АСКИЗ">
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="section__subtitle">
                        <%=partners%>
                    </div>
                    <div class="row orgs_img_block align-items-center justify-content-around">
                            <div class="img_holder">
                                <img src="img/logo_novy.png" alt="Волонтер пермь">
                            </div>
                            <div class="seporator"></div>
                            <div class="img_holder">
                                <img src="img/logo_rpk.png" alt="Развлекательно-производственная компания">
                            </div>
                            <div class="seporator"></div>
                            <div class="img_holder">
                                <img src="img/logo_gork.png" alt="Парк Горького">
                            </div>
                        </div>
                </div>
            </div>
            <div class="orgs_text">
                <%=orgText%>
                <span class="contacts">
                    <%=orgTextBold%>
                </span>                
            </div>
        </div>
    </div>
</div>