<div class="section section_participate" id="section_participate">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-9 text-center">
                <div class="section__title">
                    <%=howParticipate%>
                </div>
                <div class="row justify-content-around align-items-center participate_circles">
                    <div class="circle align-items-center justify-content-center">
                        <div class="fix__place">
                            <img src="img/accept.png" alt="Категория">
                        </div>
                    </div>
                    <div class="circle align-items-center justify-content-center">
                        <div>
                            <img src="img/wallet.png" alt="Взнос">
                        </div>
                    </div>
                    <div class="circle align-items-center justify-content-center">
                        <div>
                            <img src="img/handbox.png" alt="Набор бегуна">
                        </div>
                    </div>
                    <div class="circle align-items-center justify-content-center">
                        <div>
                            <img src="img/smileface.png" alt="Смайлик">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around participate_text">
                        <div class="participate__text">
                            <%=firstStep%>
                        </div>
                        <div class="participate__text">
                            <%=secondStep%>
                        </div>
                        <div class="participate__text">
                            <%=thirdStep%>
                        </div>
                        <div class="participate__text">
                            <%=fourthStep%>
                        </div>
                </div>

                <div class="section__subtitle">
                    <%=prizeFund%>
                </div>
            </div>
        </div>
    </div>