<div class="section section_prices">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-7">
                <div class="section__title text-center text_white">
                    <%=categories%>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <th>Малыши</th>
                            <td class="text-center">до 4 лет</td>
                            <td class="text-right table_right">бесплатно</td>
                        </tr>
                        <tr>
                            <th>Дети</th>
                            <td class="text-center">от 4 до 18 лет</td>
                            <td class="text-right table_right">150 руб.</td>
                        </tr>
                        <tr>
                            <th>Студенты</th>
                            <td class="text-center">студенческий билет</td>
                            <td class="text-right table_right">350 руб.</td>
                        </tr>
                        <tr>
                            <th rowspan="2">Взрослые</th>
                            <td class="text-center">женщины от 18 до 55 лет</td>
                            <td class="text-right table_right" rowspan="2">2 км – 350 руб.<br>10 км – 500 руб.</td>
                        </tr>
                        <tr>
                            <td class="text-center">мужчины от 18 до 60 лет</td>
                        </tr>
                        <tr>
                            <th rowspan="2">Пенсионеры</th>
                            <td class="text-center">женщины от 55 лет</td>
                            <td class="text-right table_right" rowspan="2">350 руб.</td>
                        </tr>
                        <tr>
                            <td class="text-center">мужчины от 60 лет</td>
                        </tr>
                        <tr>
                            <th>Fun Run</th>
                            <td class="text-center">без ограничений</td>
                            <td class="text-right table_right">300 руб.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>