<div class="section section_projects">
        <div class="section__title text-center text_white">
                <%=witchProjects%>
            </div>
    <div class="row justify-content-center box_holder">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <div class="row box__logo justify-content-center align-items-center"><img src="img/logo_bereginya.png" alt="Логотип Берегиня"></div>
                        <div class="box__header"><%=bereginya%></div>
                        <div class="box__text"><%=bereginyaText%></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box__right">
                        <div class="row box__logo justify-content-center align-items-center"><img src="img/logo_SK.png" alt="Логотип Солнечный круг"></div>
                        <div class="box__header"><%=solnKrug%></div>
                        <div class="box__text"><%=solnKrugText%></div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
    </div>