<div class="section section_request" id="section_request">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-9">
            <div class="section__title text-center">
                <%=request%>
            </div>
            <div class="section__subtitle justify-content-center">
                <div class="request_subtitle text-center">
                    <%=requestSub%>
                </div>
            </div>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="input_header">
                            <%=name%>
                        </div>
                        <input required type="text" name="name" id="name">
                        <div class="input_header">
                            <%=email%>
                        </div>
                        <input required type="email" name="email" id="email">
                        <div class="input_subtext">
                            <%=emailSub%>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="input_header">
                            <%=birthday%>
                        </div>
                        <input required type="date" name="bday" id="bday">
                        <div class="input_header">
                            <%=phone%>
                        </div>
                        <input required type="phone" name="phone" id="phone">
                        <div class="input_subtext">
                            <%=phonelSub%>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="participantList">
                    <div id="participant">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="input_header">
                                    <%=participant%><span class="counter">1</span>
                                </div>
                                <input required type="text" name="partisipant1" id="partisipant1">
                            </div>
                            <div class="form-group col-md-3">
                                <div class="input_header">
                                    <%=category%>
                                </div>
                                <select required name="age1" id="age1" class="wide">
                                    <option value="0">
                                        <%=littleKids%>
                                    </option>
                                    <option value="1">
                                        <%=children%>
                                    </option>
                                    <option value="2">
                                        <%=students%>
                                    </option>
                                    <option value="3">
                                        <%=adults%>
                                    </option>
                                    <option value="4">
                                        <%=pensioners%>
                                    </option>
                                    <option value="5">
                                        <%=funRun%>
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <div class="input_header">
                                    <%=dist%>
                                </div>
                                <select required name="dist1" id="dist1" class="wide">
                                    <option value="0">
                                        <%=km2%> <span class="bold"><span class="rub_value"></span>
                                            <%=rub%></span></option>
                                    <option value="1">
                                        <%=km10%> <span class="bold"><span class="rub_value"></span>
                                            <%=rub%></span></option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="addParticipant input_header">
                        <%=addParticipant%>
                    </div>
                    <div class="removeParticipant input_header">
                        <%=removeParticipant%>
                    </div>
                </div>
                <hr>
                <div class="form-row justify-content-between">
                    <div class="sum">
                        <%=itog%>
                    </div>
                    <div class="sum bold">
                        <span class="sumValue"></span>
                        <%=rub%>
                    </div>
                </div>
                <div class="form-row justify-content-between align-items-center">
                    <button type="submit" class="text_white button button_rounded">
                        <%=toPayment%>
                    </button>
                    <div class="document">
                        <%=document%>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>