<div class="section section_schedule" id="section_schedule">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-9">
            <div class="section__title text-center">
                <%=scheduleTitle%>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="section__subtitle">
                        <%=unost%>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <img src="img/point.png">
                            <img class="line" src="img/line.png">
                            <img src="img/point.png">
                            <img class="line" src="img/line.png">
                            <img src="img/point.png">
                            <img class="line" src="img/line.png">
                            <img src="img/point.png">
                        </div>
                        <div class="col-11">
                            <div class="time">
                                <%=unostTime1%>
                            </div>
                            <div class="time_description">
                                <%=unostText1%>
                            </div>
                            <div class="time">
                                <%=unostTime2%>
                            </div>
                            <div class="time_description">
                                <%=unostText2%>
                            </div>
                            <div class="time">
                                <%=unostTime3%>
                            </div>
                            <div class="time_description">
                                <%=unostText3%>
                            </div>
                            <div class="time">
                                <%=unostTime4%>
                            </div>
                            <div class="time_description">
                                <%=unostText4%>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="section__subtitle">
                        <%=gork%>
                    </div>
                    <div class="row">
                        <div class="col-1 points_row">
                            <img src="img/point.png">
                            <img class="line" src="img/line.png">
                            <img src="img/point.png">
                            <img class="line" src="img/line.png">
                            <img src="img/point.png">
                            <img class="line" src="img/line.png">
                            <img src="img/point.png">
                        </div>
                        <div class="col-11">
                            <div class="time">
                                <%=gorkTime1%>
                            </div>
                            <div class="time_description">
                                <%=gorkText1%>
                            </div>
                            <div class="time">
                                <%=gorkTime2%>
                            </div>
                            <div class="time_description">
                                <%=gorkText2%>
                            </div>
                            <div class="time">
                                <%=gorkTime3%>
                            </div>
                            <div class="time_description">
                                <%=gorkText3%>
                            </div>
                            <div class="time">
                                <%=gorkTime4%>
                            </div>
                            <div class="time_description">
                                <%=gorkText4%>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>