<div class="section section_social">
        <div class="row align-items-center">
            <div class="col-md-9 text-center">
                <span class="hashtag"><%=hashtag%></span>
            </div>
            <div class="col-md-2 img_block">
                <div class="row ">
                    <div class="col">
                            <a href="https://www.instagram.com/begu_na_odnom_dihanii/"><img src="img/instagram.png" alt="Инстаграмм"></a>
                            <a href="https://vk.com/naodnom_dihanii"><img src="img/vk.png" alt="Вконтакте"></a>
                            <a href="https://www.facebook.com/pages/category/Community/%D0%91%D0%BB%D0%B0%D0%B3%D0%BE%D1%82%D0%B2%D0%BE%D1%80%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%B7%D0%B0%D0%B1%D0%B5%D0%B3-%D0%9D%D0%B0-%D0%BE%D0%B4%D0%BD%D0%BE%D0%BC-%D0%B4%D1%8B%D1%85%D0%B0%D0%BD%D0%B8%D0%B8-1722171881391597/"><img src="img/facebook.png" alt="Фейсбук"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>