<% var data = {
    title: "На одном дыхании | Благотворительный забег",
    author: "Roman",
    runText: "пробежим?",
    forKidsHealth: "за здоровье детей",
    run: "пробежим!",
    place: "3 Июня, стадион «Юность»",
    aboutRun: "О забеге",
    howItWas: "Как это было",
    program: "Программа забега",
    route: "Маршрут",
    participate: "Участие",
    aboutRunSub: "В Перми состоится 2-й благотворительный забег «На одном дыхании» и мы снова пробежим за здоровье детей!",
    aboutRunText1: "Это яркое масштабное общегородское мероприятие, направленное на развитие благотворительности и здорового образа жизни.",
    aboutRunText2: "Вырученные средства пойдут на лечение и реабилитацию детей с тяжелыми заболеваниями и на помощь детям-сиротам.",
    lastYear: "Как это было в прошлом году",
    lastYearSub: "В 2016 году с нами пробежали 700 пермяков. Мы собрали 200 тыс. рублей.",
    lastYearText: "Эти деньги позволили оплатить поиск в международном регистре и приезд неродственного донора костного мозга для Даниила Просвирнина. Половина собранных средств потрачена на двухмесячную зарплату больничным няням.",    
    helpKids: "Как мое участие поможет детям?",
    helpKidsSub: "Деньги, которые вы пожертвуете, пойдут на лечение и сопровождение детей в больницах.",
    helpKidsText: "Фонд «Берегиня» купит лекарства и оплатит дорогостоящее лечение. Благотворительная организация «Солнечный круг» наймет нянь для детей-сирот.",
    helpKidsFirst: "Можно купить пластырь из специального нетканного материала, чтобы при смене катетера не поранить кожу ребенка, или оплатить три часа работы больничной няни.",
    helpKidsSecond: "Взнос трех спортсменов поможет пополнить недельный запас специального питания после химиотерапии.",
    helpKidsThird: "Оплата дороги пяти подопечным в реабилитационный лагерь.",
    firstSum:"300₽",
    secondSum:"20 000₽",
    witchProjects: "Какие проекты будут профинансированы",
    bereginya: "Фонд «Берегиня» реализует проект «Неотложка»",
    bereginyaText: "«Неотложка» помогает родителям детей с тяжёлыми заболеваниями оплатить обследования, <br>HLA-типирование, дорогостоящие препараты, проезд к месту лечения, реабилитационные процедуры.",
    solnKrug: "Благотворительная организация «Солнечный круг» проект «Служба Айболита»",
    solnKrugText: "«Служба Айболита» заботится о детях 		в больничных палатах, помогает преодолеть страх перед уколами и чувство одиночества, организует досуг и классное настроение.",
    howParticipate: "Как принять участие",
    firstStep: "Выбираем категорию<br>и регистрируемся",
    secondStep: "Оплачиваем взнос<br>на участие в забеге",
    thirdStep: "Приходим 3 июня<br>получаем набор бегуна",
    fourthStep: "Бежим, награждаем<br>участников и считаем сбор!",
    prizeFund: "Призовой фонд – 200 тыс.рублей",
    mapTitle: "Какой маршрут забега?",
    mapDescription: "<p>Место старта — стадион «Юность». Маршрут проложен по улице Революции, Сибирской до площади Карла Маркса и обратно.</p><p>Спортсмены пробегут две дистанции:<br>2 км (1 круг) и 10 км (4 круга).<p>",
    scheduleTitle: "Расписание мероприятий",
    unost: "На стадионе «Юность»",
    gork: "В парке им. Горького",
    unostTime1: "9:00 – 10:45",
    unostTime2: "11:00",
    unostTime3: "11:40",
    unostTime4: "12:00",
    unostText1: "Регистрация участников",
    unostText2: "Старт забега на 2 км",
    unostText3: "Старт забега на 10 км",
    unostText4: "Старт забега «Fun-run»",
    gorkTime1: "10:00",
    gorkTime2: "12:30",
    gorkTime3: "13:00",
    gorkTime4: "до 15:00",
    gorkText1: "Начало праздника на главной сцене",
    gorkText2: "Награждение победителей забега на 2 км",
    gorkText3: "Награждение победителей забега на 10 км",
    gorkText4: "Развлекательная программа",
    categories: "Беговые категории участников<br>и стоимость взноса",
    copyritht: "© 2017 Благотворительный забег «На одном дыхании»",
    hashtag: "#наодномдыхании  #ябегунаодномдыхании",
    organizers: "Организаторы",
    partners: "Партнеры",
    orgText: "Ответим на любые вопросы:",
    orgTextBold: " 233-11-22, 233-02-02, 8 (982) 450-60-70 –Александра",
    request: "Заявка на участие",
    requestSub: "Заполняйте данные участников забега, оплачивайте благотворительный взнос банковской картой и не забудьте получить наборы бегуна перед стартом.",
    name: "Ответственный участник",
    email: "Адрес электронной почты",
    emailSub: "Мы вышлим Вам на почту квитанцию об оплате",
    birthday: "Дата рождения",
    phone: "Номер телефона",
    phonelSub: "Обещаем, что не будем рассылать рекламу",
    participant: "Участник №",
    category: "Категория",
    littleKids: "Малыши",
    children: "Дети",
    students: "Студенты",
    adults: "Взрослые",
    pensioners: "Пенсионеры",
    funRun: "Fun Run",
    dist: "Дистанция",
    km2: "2 км",
    rub: " руб.",
    km10: "10 км",
    addParticipant: "Добавить участника",
    itog: "Итоговая сумма благотворительного взноса:",
    toPayment: "перейти к оплате",
    document: "Незабудьте захватить документ удостоверяющий личность.",
    removeParticipant: "Убрать участника",
  }; %>
  <div class="container">
    <%= _.template(require('./../includes/header.html'))(data) %>
    <%= _.template(require('./../includes/ask.html'))(data) %>
    <%= _.template(require('./../includes/about.html'))(data) %>
    <%= _.template(require('./../includes/lastYear.html'))(data) %>
    <%= _.template(require('./../includes/helpKids.html'))(data) %>
    <%= _.template(require('./../includes/projects.html'))(data) %>
    <%= _.template(require('./../includes/participate.html'))(data) %>
    <%= _.template(require('./../includes/map.html'))(data) %>
    <%= _.template(require('./../includes/schedule.html'))(data) %>
    <%= _.template(require('./../includes/prices.html'))(data) %>
    <%= _.template(require('./../includes/request.html'))(data) %>
    <%= _.template(require('./../includes/orgs.html'))(data) %>
    <%= _.template(require('./../includes/social.html'))(data) %>
    <%= _.template(require('./../includes/footer.html'))(data) %>
  </div>