$font-stack: PTsans,-apple-system,sans-serif;

@import "~bootstrap/scss/bootstrap";
@import "./nice-select.scss";

$white:rgb(255, 255, 255);
$orange:rgb(231, 81, 37);
$grey: rgb(245, 245, 245);
$darkgrey: rgb(203, 203, 203);
$requestgrey: rgb(242, 242, 242);
$blue:rgb(0, 170, 231);
$text-black:rgb(51, 51, 51);
$shadow-color:rgba(16, 98, 154, 0.7);
$t-shadow: 3px 6px 0px $shadow-color;
$bt-shadow: 3px 6px 0px 0px $shadow-color;
$box-shadow: 6px 6px 0px 0px $shadow-color;

@font-face {
  font-family: 'PTsans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/PT_Sans-Web-Regular.ttf);
}

@font-face {
  font-family: 'PTsansBold';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/PT_Sans-Web-Bold.ttf);
}

@font-face {
  font-family: 'PTsansNarrow';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/PT_Sans-Narrow-Web-Regular.ttf);
}

@font-face {
  font-family: 'PTsansNarrowBold';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/PT_Sans-Narrow-Web-Bold.ttf);
}

@media (min-width: 1200px){
  .container {
      max-width: 1200px;
  }
}

html{
  margin: 0;
  padding: 0;
  font-size: 14px;  
}

a:hover{
  text-decoration: none;
}

body {
  font-family: $font-stack;
  background-color: $white;
  color: $text-black;

  .container{
    position: relative;
  }
  
  #logo {
    width: 325px;
    height: 60px;
    margin-left: 7.857rem;
    margin-top: 1.5rem;
  }
  header{
    height: 7.285rem;
    top:0;
    background-color: $white;
    position: fixed;
    width: 100%;
    z-index: 999;
    ul{
      margin-top: 3.143rem;
      margin-right: 9.143rem;
      display: block;
      li{
        display: inline-block;
        list-style: none;
        margin-left: 0.714rem;
        a{
          font-family: PTsansNarrowBold;
          color:  $orange;
          font-size: 1.286rem;
          line-height: 1.667;
          text-align: right;
        }
      }
    }
  }

  footer{
    font-size: 1.214rem;
    background-color: $blue;
    padding: 1rem;
  }
}

.section{
  padding: 5.142rem 0 7.142rem 0;
}

.section__title{
  font-family: PTsansNarrowBold;
  font-size: 3.214rem;
  color: $orange;
}

.section__subtitle{
  font-family: PTsansBold;
  color: $blue;
  font-size: 1.714rem;
  line-height: 1.083;
}

.section__text{
  margin-top: 2rem;
  font-size: 1.214rem;
  line-height: 1.176
}

.section_ask{
  margin-top: 7.285rem;
  font-family: PTsansNarrowBold;
  background-image: url(../img/ask_bg.png);
  text-transform: uppercase;
  position: relative;
  .row{
    z-index: 10;
  }
  .ask_first{
    margin-top: 80px;
    font-size: 5.429rem;
  }
  .ask_second{
    margin-top: -20px;
    font-size: 3.214rem;
  }
  .button_ask{
    margin-left: 1rem;
    margin-top: 3.142rem;
    width: 216px;
    height: 56px;
  } 
  .place_row{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  rgba(16, 115, 183, 0.7);
    height: 5.714rem;
    font-size: 2.357rem;
    .row{
      height: inherit;
    }
  }
  #boots{
    z-index: 0;
    position: absolute;
    bottom: 0;
    right: 3.642rem;
  }
}

.section_about{
  background-color: $grey;
  .section__title{
    margin-top: -2rem;
  }
}

.section_lastYear{
  .section__text{
    padding: 0 1rem;
  }
  .video{
    margin-top: 2.857rem;
    iframe{
      width: 768px;
      height: 432px;
    }
  }
}

.section_helpKids{
  background-color: $grey;
  .list{
    .list__item{
      margin-top: 2rem;
    }
    .list__text{
      display: flex;
      font-size: 1.143rem;
      line-height: 1.25;
    }
  }
  .third{
    .circle__text{
      font-size: 2.5rem;
    }
  }
}

.section_projects{
  background-color: $blue;
  .col-md-6{
    padding: 0 0.714rem;
  }

  .box_holder{
    margin-top: 1.8rem;
  }
  .box{
    padding: 3rem 2rem;
    background-color: $white;
    box-shadow: $box-shadow;
    .box__logo{
      height: 15.714rem;
    }
    .box__header{
      color: $blue;
      width: 24rem;
      font-size: 1.714rem;
      line-height: 1.083;
    }
    .box__text{
      width: 21rem;
      margin-top: 1.6rem;
      font-size: 1.214rem;
      line-height: 1.176;
    }
  }
  .box__right{
    padding-bottom: 2.6rem;
  }
}

.section_participate{
  font-size: 1.143rem;
  line-height: 1.25;
  .fix__place{
    margin-top: -0.4rem;
    margin-right: -0.4rem;
  }
  .participate__text{
    width: 14rem;
  }
  .participate_circles{
    margin-top: 2rem;;
  }
  .participate_text{
    margin-top: 1rem;
  }
  .section__subtitle{
    margin-top: 3rem;
  }
  .circle{
    position: relative;
    &:after{
      content:'';
      width: 51px;
      height: 10px;
      left: 115%;
      top:50%;
      background-image: url(../img/dots.png);
      background-repeat: no-repeat;
      position:absolute;
    }
  }
  .circle:last-of-type:after{
    display:none;
  }
}

.section_map{
  background-image: url(../img/bg_map.jpg);
  background-repeat: no-repeat;
  .section__title{
    margin-top: 0;
  }
  .description{
    font-size: 1.429rem;
    line-height: 1.2;
    &>p{
      margin-bottom: 2rem;
    }
  }
  .map__holder{
    margin-top: 1.7rem;
    height: 12.5rem;
    margin-left: -1rem;
  }
}

.section_schedule{
  font-size: 1.43rem;
  
  .section__title{
    margin-top: 1.8rem;
  }
  .section__subtitle{
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1.2;
  }
  .time{
    font-family: PTsansBold;
  }
  .time_description{
    margin-bottom: 1rem;
  }
  .col-1{
    margin-top: 0.4rem;
    .line{
      margin: 0.14rem 0 0.14rem 0.6rem; 
    }
  }
}

.section_prices{
  background-color: $blue;

  .section__title{
    line-height: 1;
    margin-top: 1.8rem;
    margin-bottom: 2.5rem;
  }
  table{
    width: 100%;
    background-color: $white;
    font-size: 1.286rem;
    box-shadow: $box-shadow;
  }
  table, th, td{
    border: 1px solid rgb(231, 231, 231);
    border-collapse: collapse;    
  }
  th{
    padding-left: 3rem;
    height: 7.5rem;
    color: $blue;
  }
  .table_right{
    font-family: PTsansBold;
    padding-right: 3rem;
  }
}

.section_request{
  background-color: $requestgrey;
  .section__subtitle{
    display: flex;
    margin-bottom: 2rem;
  }
  .request_subtitle{
    max-width: 52rem;
  }
  form{
    padding: 2rem;
    padding-bottom: 3.5rem;
    background-color: $white;
  }
  .button{
    border: none;
    width: 18.57rem;
    height: 4.285rem;
    margin-left: 0.5em;
  }
  .input_header{
    margin-top: 1rem;
    font-family: PTsansBold;
    font-size: 1.143rem;
    line-height: 1.625;
    color: $blue;
  }
  .addParticipant, .removeParticipant{
    margin-top: 0;
    margin-left: 0.5em;
    border-bottom: 1px dashed $blue;
    cursor: pointer;
    &:hover{
      border-bottom: 1px dashed $text-black;
      color: $text-black;
    }
  }
  .removeParticipant{
    color: $orange;
    border-bottom: 1px dashed $orange;
    display: none;
  }
  input, select, .nice-select{
    border: 1px solid $darkgrey;
    font-size: 1.126rem;
    padding: 0 1.143rem;
    width: 100%;
    height: 3.214rem;
    border-radius: 3px;
    box-shadow: inset 0 0 4px $darkgrey;
  }
  .nice-select{
    padding-top: 0.8rem;
  }
  .bold{
    font-family: PTsansBold;
  }
  .form-group{
    margin-bottom: 1rem;
    padding: 0 0.714rem;
  }
  .list{
    li{
      line-height: 3rem;
      height: 3.214rem;
      border-bottom: 1px solid $grey;
    }
  }
  .sum {
    font-size: 1.714rem;
    line-height: 1.083;
    margin-left: 0.5em;
    margin-bottom: 1rem;
  }
  .document{
    font-size: 1.214rem;
  }
}

.section_orgs{
  padding: 5.142rem 0;
  .section__subtitle{
    margin-bottom: 3.57rem;
  }
  .orgs_text{
    margin-top: 3.57rem;
    font-size: 1.214rem;
    .contacts{
      font-family: PTsansBold;
    }
  }
  .seporator{
    border-right: 1px solid $darkgrey;
    height: 5.71rem;
  }
}

.section_social{
  font-family: PTsansNarrow;
  color: $orange;
  font-size: 3.429rem;
  padding: 3.357rem;
  background-color: $grey;
  .img_block{
    font-size: 1rem;
    a{
      margin: 0 0.3rem;
    }
  }
}

.text_shadowed{
  text-shadow: $t-shadow;
}

.box_shadowed{
  box-shadow: $bt-shadow;
}

.text_white{
  color: $white;
}

.button{
  font-family: PTsansNarrowBold;
  background-color: $orange;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.857rem;
  &:focus{
    outline: none;
  }
}

.button_rounded{
  border-radius: 30px;
}

.button_bordered{  
  border-width: 2px;
  border-color:  $white;
  border-style: solid;
}

.circle{
  color: $white;
  border-radius: 50%;
  background-color: $blue;
  width: 9.428rem;
  height: 9.428rem;
  display: flex;
}

.circle__text{
  font-family: PTsansNarrowBold;
  font-size: 3rem;
}
@media (max-width: 992px){
  body header{
    width: unset;
  }
  .section_ask{
    img{
      display: none;
    }
  }
}
@media (max-width: 540px){
  body header{
    width: unset;
    position: unset;
    #logo{
      padding: 0;
      margin: 0;
    }
    .row{
      justify-content: center;
    }
  }

  .section__title{
    text-align: center;
  }

  .section__subtitle, .section__text{
    text-align: center;
  }

  .section_ask{
    img{
      display: none;
    }
    .ask_first{
      margin-top: 0.5rem;
      font-size: 3.429rem
    }
    .ask_second{
      font-size: 2.1rem;
    }
    .button_row{
      justify-content: center;
    }
    .place_row{
      text-align: center;
    }
  }

  .section_about{
    .section__title{
      margin-top: 0;
    }
    .left-column{
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 80vw;
        height: auto;
      }
    }

  }

  .section_helpKids{
    .circle{
      float: unset !important;
    }
    .list__item{
      text-align: center;
    }
    .col-md-4{
      display: flex;
      justify-content: center;
    }
  }
  .section_lastYear{
    .video{
      iframe{
        width: unset;
        height: unset;
      }
    }
  }

  .section_map{
    .map__holder{
      width: 90%;
      margin: 0;
      img{
        width: 90vw;
      }
    }
  }

  .section_projects{
    .box{
      padding: 0.5rem;
      margin: 1rem 1rem;
      .box__header, .box__text{
        width: unset;
      }
    }
  }
  .section_participate{
    .circle{
      margin-top: 1rem;
      &:after{
        display: none;
      }
    }
    .participate__text{
      margin-top: 1rem;
    }
  }
  .section_schedule{
    .points_row{
      img{
        padding-bottom: 1.07rem;
      }
    }
  }
  .section_prices{
    table, th, td{
      padding: 0;
      box-shadow: none;
    }
    .table_right{
      width: 20%;
      padding-right: 0;
    }
  }
  .section_social{
    .hashtag{
      font-size: 2rem;
    }
    .img_block{
      display: flex;
      justify-content: space-around;
    }
  }

}